
*{
    background-color: beige;
}
h1{
    height: 50px;
    width:25px;
    color:burlywood;
    text-align:left;
    text-transform: capitalize;
    text-decoration:solid;
}
p{
    color:black;
}
button{
    background-color: chocolate;
}
a{
    text-decoration: underline;
}